.bg-color-num {
    background: #7E1891;
}
.bg-color-action {
    background: #FCC737;
}

.btn{
    width: 5%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 0.2%;
    color: #fff;
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.bg-color-result {
    background: #8EB486;
    width: 15%;
}